<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>REGISTER NOW!</title>
  </head>
  <body>
    {% csrf_token %}
    <form class="" action="" method="POST">
      <input type="email" name="email" placeholder="Email">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="organization" placeholder="Organization">
      <input type="text" name="Number" placeholder="Number">
<button type="submit" name="Register"></button>

    </form>
  </body>
</html>
