<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tenant Profile Page</title>
    <link rel="stylesheet" href="../../static/registration/style/tenant.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/static/login/LeaseLord_Logo.png" width="30" height="30" alt="Logo not found!" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/users/profile">Profile</a>
        {% if user.is_propertymanager %}
        <a class="nav-item nav-link" href="/users/leaseupload">Upload Documents</a>
        {% endif %}

        <a class="nav-item nav-link" href="/users/viewleases">View Documents</a>
        <a class="nav-item nav-link" href="/users/tickets">View Tickets</a>
        {% if user.is_tenant %}
        <a class="nav-item nav-link" href="/users/newticket">Send Tickets</a>
        {% endif %}
        <a class="nav-item nav-link" href="/users/announcements">View Announcement</a>
        {% if user.is_propertymanager %}
        <a class="nav-item nav-link" href="/users/newannouncement">Send Announcement</a>
        {% endif %}
        <a class="nav-item nav-link" href="/users/lognout">Logout</a>


      </div>
    </div>
    </nav>

  <body>



    <section class="three">
        <div class="sectionThreeWords">
          <div class="card">
            <div class = "button">
              <a href="#" class = "btn">Sign Out</a>
            </div>
            {% if user.is_authenticated %}
               <p>Welcome, {{ user.get_username }}. Thanks for logging in.</p>
            <div class="NameOfUser">
              <p> {{user.get_full_name}}</p>
            </div>
            <div class="TypeOfUser">
              <p>Tenant </p>
            </div>
            <div class="NameOfProperty">
              <p>Organization: {{ten.propertymanager}}</p>
            </div>
            <div class="NameOfPropertyManager">
              <p>Property Manager Name: {{ten.propertymanager.user.first_name}} {{ten.propertymanager.user.last_name}}</p>
            </div>
            <div class="PropertyManagerPhoneNumber">
              <p>Property Manager Phone Number: {{ten.propertymanager.user.phone}}</p>
            </div>
            <div class="PropertyManagerEmailAddress">
              <p>Property Manager Email: {{ten.propertymanager.user.email}}</p>
            </div>
              {% endif %}
            </div>
          </div>
        </div>

    </section>

  <section class = "four">
    <p>LEASELORD</p>
  </section>

  </body>
</html>
