<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="shortcut icon" type="image/x-icon" href="/static/login/LeaseLord_Logo.png" />
    <title>Welcome to LeaseLord</title>
    <link rel="stylesheet" href="/static/index/style/index.css">
  </head>
  <body>

    <section class = "one">
        <div class="contact">
          <p>Have Questions? Contact Us!    |    850-867-5309    |    support@leaselord.com</p>
        </div>

    </section>

    <section class="two">
      <p>
        <ul class = "navBarList">
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          {% if not user.is_authenticated %}
          <li><a href="#">About Us</a></li>
          <li class = "currentPage"><a href="#">Contact</a></li>
          {% endif %}
        </ul>
      </p>
      <img  style="position: relative; top:5px;width:50px;height:50px;" src="/static/login/LeaseLord_Logo.png" alt="LeaseLord Logo">
      <div class="name">
        <p> LEASELORD</p>
      </div>
    </section>
<section >

<div class="container">
  <div class="row">
    <!-- Left Column (Empty) -->
    <aside class="col-sm-4">
    </aside> <!-- Left Column// -->

    <!-- Middle Column -->
    <aside class="col-sm-4">

      <div class="card">
        <article class="card-body">

          <!-- LeaseLord Logo -->
          <center>

            <div class="container">
                <h2>Tenant</h2>
                <div class="row">
                <br>
              </div>
              <div class="row">
                <aside class="col">col</aside>
                <aside class="col">col</aside>
              </div> <!-- row// -->
            </div> <!-- container// -->
          </center>
        </article>
      </div> <!-- card// -->
    </aside> <!-- Middle Column// -->
  </div> <!-- Row -->
</div> <!-- container// -->

{% for lease in pm.propm.all %}
<p>{{lease.tenant.user.first_name}}  Download <a href="{{ lease.lease.url }}">here</a> </p>
{% endfor %}
</section>
    <section class = "four">
      <p>LEASELORD</p>
    </section>

    </body>
  </html>
