<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/login/LeaseLord_Logo.png" />
    <title>Welcome to LeaseLord</title>
    <link rel="stylesheet" href="../../static/index/style/index.css">
  </head>
  <body>

    <section class = "one">
        <div class="contact">
          <p>Have Questions? Contact Us!    |    850-867-5309    |    support@leaselord.com</p>
        </div>

    </section>

    <section class="two">
      <p>
        <ul class = "navBarList">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">About Us</a></li>
          <li class = "currentPage"><a href="#">Contact</a></li>
        </ul>
      </p>
      <img  style="position: relative; top:5px;width:50px;height:50px;" src="../../static/login/LeaseLord_Logo.png" alt="LeaseLord Logo">
      <div class="name">
        <p> LEASELORD</p>
      </div>
    </section>

    <section class="threeAnnouncement">
      <div class="sectionThreeImage">
        <div class="sectionThreeWords">
            {% for announcement in announcements %}
            <p style="font-size: 30px; border-style:ridge; border: 1px solid #fff;padding: 10px 30px;margin-left: 400px;display:table;"><span style="paragraph.time">{{announcement.created_at}}</span> {{announcement.subject}}  {{announcement.content}} </p>
            {% endfor %}
        </div>
      </div>
    </section>

  <section class = "four">
    <p>LEASELORD</p>
  </section>

  </body>
</html>
