<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to LeaseLord</title>
    <link rel="stylesheet" href="../../static/index/style/index.css">
  </head>
  <body>

    <section class = "one">
        <div class="contact">
          <p>Have Questions? Contact Us!    |    (001) 561-563-3032    |    support@leaselord.com</p>
        </div>

    </section>

    <section class="two">
      <p>
        <ul class = "navBarList">
          <li class = "currentPage"><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </p>
      <div class="name">
        <p>LEASELORD</p>
      </div>
    </section>

    <section class="three">
      <div class="sectionThreeImage">
        <div class="sectionThreeWords">
          <div class="keepTrack">
              <p>Keep Track of your Property</p>
          </div>
          <div class = "button">
            <a href="../users/register" class = "btn">Register</a>
            <a href="../users/login" class = "btn">Sign In</a>
          </div>
        </div>
      </div>
    </section>

  <section class = "four">
    <p>LEASELORD</p>
  </section>

  </body>
</html>
